name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m venv .venv
          . .venv/bin/activate
          pip install -r requirements.txt
      - name: Run tests
        env:
          TEST_SQLITE: 'True'
        run: |
          . .venv/bin/activate
          python manage.py test --verbosity=2
      - name: Lint
        run: |
          . .venv/bin/activate
          pip install black isort flake8
          black --check . --exclude '.venv'
          isort --check . --skip .venv
          flake8 --exclude .venv
